
abstract=The File Ontology for Geometry formats (FOG) describes meaningful relations towards geometry snippets in RDF literals, geometry files on relative or absolute URLs and ontology-based geometry descriptions. The defined properties in this ontology are related towards each other and additional metadata is provided, such as file extension and related specifications/sources (incl. entries in dbpedia and Wikidata).
ontologyTitle=FOG: File Ontology for Geometry formats
ontologyPrefix=fog
ontologyNamespaceURI=https://w3id.org/fog
ontologyName=File Ontology for Geometry formats
thisVersionURI=
latestVersionURI=
previousVersionURI=
dateOfRelease=
ontologyRevisionNumber=0.0.1
licenseURI=
licenseName=
licenseIconURL=
citeAs=
DOI=
status=Ontology Specification Draft
backwardsCompatibleWith=
publisher=
publisherURI=
publisherInstitution=
publisherInstitutionURI=
authors=Anna Wagner;Mathias Bonduel;Pieter Pauwels
authorsURI=
authorsInstitution=TU Darmstadt;KU Leuven; Ghent University
authorsInstitutionURI=
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=
importedOntologyURIs=
extendedOntologyNames=
extendedOntologyURIs=
